@{
    ViewData["Title"] = "Instructor Page";
}

<div class="text-center">
    <h1 class="display-4">Professional Instructor</h1>
    <p>Post<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Experience <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Planning <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
