@model List<string>

@{
    ViewData["Title"] = "Academy Page";
    string academy="Los tigritos";
}

<div class="text-center">
    <h1 class="display-4">Lista de Academias y patners</h1>
    <p>@academy</p>
     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
