@model List<string>

@{
    ViewData["Title"] = "Academy Page";
    string academy="Alizen";
    string course="Yoga y Nutricion Alternativa";
}

<div class="text-center">
    <h1 class="display-4">@academy</h1>
    <p>@course</p>
     <p>Nombre<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     <p>Beneficios<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     <p>Descripcion<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     <p>Horarios<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     <p>Precio<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
