@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>nutrición</p>
    <p>yoga</p>
    <p>pilates</p>
    <p>surf</p>
    <p>Aprenda habitos de bienestar para iniciar cambios positivos en su vida</p>
</div>
