@{
    ViewData["Title"] = "Post";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Post de los Instructores y Usuarios</p>
    <section>
    <div class="container">
    <img><img/>
    <span>Aqui la cachaña de la foto</span>

    </div>
    <section>

</div>


