@{
    ViewData["Title"] = "Book Page";
}

<div class="text-center">
    <h1 class="display-4">Book</h1>
    <h1>Import the Model Book</h1>
    <p>Muestrame los atributos del Libro</p>
</div>
